name: Build and Lint

permissions:
    contents: read

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build_and_lint_nextjs:
        runs-on: ubuntu-latest
        name: Build and Lint Next.js App
        defaults:
            run:
                working-directory: ./

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20'

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                  version: 10

            - name: Get pnpm store directory
              shell: bash
              run: |
                  echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

            - uses: actions/cache@v4
              name: Setup pnpm cache
              with:
                  path: ${{ env.STORE_PATH }}
                  key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - name: Install dependencies
              run: pnpm install

            - name: Lint Next.js
              run: |
                  pnpm run lint

            - name: Build Next.js
              env:
                  DATABASE_URL: ${{ 'libsql://localhost' }}
                  DATABASE_AUTH_TOKEN: ${{ 'auth.token.turso' }}
                  NEXTAUTH_URL: ${{ 'http://localhost:3000' }}
                  NEXTAUTH_SECRET: ${{ 'next-auth-secret' }}
                  EMAIL_FROM: ${{ 'noreply@example.com' }}
                  RESEND_API_KEY: ${{ 'resend-api-key' }}
                  STRIPE_SECRET_KEY: ${{ 'sk_stripe-secret' }}
                  STRIPE_PUBLISHABLE_KEY: ${{ 'pk_loremipsum' }}
                  STRIPE_WEBHOOK_SECRET: ${{ 'whsec_some-webhook-secret' }}
                  NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PRICE_ID: ${{ 'price_formonthly' }}
                  NEXT_PUBLIC_STRIPE_PRO_YEARLY_PRICE_ID: ${{ 'price_foryearly' }}
              run: |
                  pnpm run build
